#title {
  background-color: #e0f6fc;
  text-align: center;
  margin: 0 auto;
}

#icon{
  vertical-align: middle;
  mix-blend-mode: multiply;
  width: 10em;
}

#header{
  margin-left: 0.5em;
  font-size: 2em;
  font-family: monospace;
  display: inline-block;
}