#title {
  background-color: #e0f6fc;
  text-align: center;
  margin: 0 auto
}

#icon{
  vertical-align: middle;
  mix-blend-mode: multiply;
}

#header{
  margin-left: 40px;
  font-size: 40px;
  font-family: monospace;
  display: inline-block;
}